a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: white;
}
.b{
    background-image: url(../img/pexels-aleksandar-pasaric-325185.jpg);
    background-size: 100% 100%;
}
.a{
    background-image: url(../img/pexels-felix-mittermeier-956999.jpg);
    background-size: 100% 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
.a>h2{
    color: aqua;
} 
.a>p{
    color: white;
    font-size: larger;
    font-family: sans-serif;
    font-style: italic;
}
.lead{
    font-size: 30px;
}
.p{
    font-size: larger;
    font-family: sans-serif;
    font-style: italic;
}